* {
    margin: 9;
    padding: 3;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: rgb(12, 23, 83);
}
.menu {
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 0.75em 1.5em;
    margin: 0 0.5em;
    border-radius: 20px;
    border: 3px solid rgb(7, 28, 122);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.barra {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #fff;
}
.nav {
    background-color: #fff;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(98, 107, 15, 0.2);
}
.header {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.Titulo-principal {
    text-align: center;
    font-weight: 900;
    color: rgb(248, 0, 248);
    font-size: 2.5em;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 20px 15px 40px rgba(200, 199, 201, 0.6);
}
.Titulo-segundario {
    text-align: right;
    font-weight: 900;
    color: rgb(216, 203, 19);
    font-size: 2em;
    padding: 40px 0;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 10px 10px 15px rgba(255, 255, 255, 0.6);
}
.article{
    color: rgb(184, 184, 80);
    margin-bottom: 3em;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.galeria img {
    width: calc(50% - 350px);
    object-fit: cover;
    border-radius: 0.5em;
    box-shadow: 7px 4px 10px rgb(255, 2, 2);
    transition: transform 0.3s ease;
    margin-bottom: 3em;
}
.galeria img:hover {
    transform: scale(1.05);
    cursor: pointer;   
}
